 <% if flash[:notice] %>
    <p id="notice">　<%= flash[:notice] %> </p>
 <% end %>


<p><strong>Title:</strong><%= @bookf.title %></p>


<p><strong>body:</strong><%= @bookf.body %></p>



<%= link_to "Edit", edit_book_path(@bookf.id) %>|<a  href="/books">Back</a>